<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p>&copy; 2024 Calcetines Chulos. Todos los derechos reservados.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="text-white" href="http://localhost:4200/politica">Política de Privacidad</a>
            </li>
            
            <li class="list-inline-item">
                <a class="text-white" href="http://localhost:4200/contacto">Contacto</a>
            </li>
        </ul>
        <div>
            <a href="https://facebook.com" class="text-white mx-2">Facebook</a>
            <a href="https://twitter.com" class="text-white mx-2">Twitter</a>
            <a href="https://instagram.com" class="text-white mx-2">Instagram</a>
        </div>
    </div>
</footer>
