<div class="container mt-4">
    <h1 class="text-center">Nuestros fascinantes productos</h1>
    <p class="text-center">Perfectos para ti</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/images/calcetin1.jpg" class="card-img-top" alt="Calcetines Coloridos">
                <div class="card-body">
                    <h5 class="card-title">Calcetines Coloridos</h5>
                    <p class="card-text">Calcetines vibrantes ideales para dar vida a tu atuendo.</p>
                    <p class="font-weight-bold">Precio: $10.00</p>
                    <a href="#" class="btn btn-primary">Añadir al Carrito</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/images/calcentin2.jpg" class="card-img-top" alt="Calcetines de Algodón">
                <div class="card-body">
                    <h5 class="card-title">Calcetines de Algodón</h5>
                    <p class="card-text">La suavidad del algodón para un confort diario.</p>
                    <p class="font-weight-bold">Precio: $12.00</p>
                    <a href="#" class="btn btn-primary">Añadir al Carrito</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/images/calcetin3.jpg" class="card-img-top" alt="Calcetines Divertidos">
                <div class="card-body">
                    <h5 class="card-title">Calcetines Divertidos</h5>
                    <p class="card-text">Diseños únicos que te harán sonreír.</p>
                    <p class="font-weight-bold">Precio: $9.00</p>
                    <a href="#" class="btn btn-primary">Añadir al Carrito</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <h2>Más Opciones</h2>
        <p>Ofrecemos una amplia gama de calcetines para todos los gustos. Si buscas algo específico, no dudes en contactarnos.</p>
        <a href="http://localhost:4200/contacto" class="btn btn-info">Contáctanos</a>
    </div>
</div>