<div class="container mt-4">
    <h1 class="text-center">Sobre nosotros</h1>
    <p class="text-center">Conócenos y cambiará tu vida</p>

    <div class="mt-5">
        <h2>Nuestra Historia</h2>
        <p>
            En Calcetines Chulos, comenzamos nuestra aventura en el mundo de la moda hace más de 5 años. Nuestra pasión por los calcetines de calidad nos llevó a crear una tienda que ofrece una variedad única de diseños que combinan comodidad y estilo.
        </p>

        <h2>Nuestra Misión</h2>
        <p>
            Nuestra misión es proporcionar calcetines que no solo sean cómodos y duraderos, sino que también reflejen la personalidad de nuestros clientes. Creemos que cada par de calcetines cuenta una historia, y queremos que nuestros productos te ayuden a contar la tuya.
        </p>

        <h2>Valores</h2>
        <ul>
            <li>Calidad: Solo utilizamos los mejores materiales para garantizar la comodidad y durabilidad de nuestros productos.</li>
            <li>Creatividad: Nos encanta innovar y ofrecer diseños únicos que se adapten a todos los gustos.</li>
            <li>Sostenibilidad: Trabajamos para minimizar nuestro impacto ambiental mediante prácticas responsables en la producción y el empaque.</li>
        </ul>
    </div>

    <div class="mt-5 text-center">
        <h2>Únete a Nuestra Comunidad</h2>
        <p>Te invitamos a seguirnos en nuestras redes sociales y ser parte de nuestra comunidad de amantes de los calcetines.</p>
        <a href="http://localhost:4200/contacto" class="btn btn-info">Contáctanos</a>
    </div>
</div>
