<div class="container mt-4">
    <h1 class="text-center">Inicio de la mejor tienda de calcetines</h1>
    <p class="text-center">Hechos a medida para ti</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/images/calcetin1.jpg" class="card-img-top" alt="Calcetines Coloridos">
                <div class="card-body">
                    <h5 class="card-title">Calcetines Coloridos </h5>
                    <p class="card-text">Calcetines vibrantes ideales para dar vida a tu atuendo.</p>
                    <a href="productos.jsp" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/images/calcentin2.jpg" class="card-img-top" alt="Calcetines de Algodón">
                <div class="card-body">
                    <h5 class="card-title">Calcetines de Algodón</h5>
                    <p class="card-text">La suavidad del algodón para tu comodidad diaria.</p>
                    <a href="productos.jsp" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/images/calcetin3.jpg"class="card-img-top" alt="Calcetines Divertidos">
                <div class="card-body">
                    <h5 class="card-title">Calcetines Divertidos</h5>
                    <p class="card-text">Diseños únicos para expresarte.</p>
                    <a href="productos.jsp" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <h2>¿Por qué elegirnos?</h2>
        <p>Ofrecemos una amplia variedad de calcetines de alta calidad y diseños únicos. Ya sea que busques algo clásico o divertido, tenemos lo que necesitas.</p>
        <a href="http://localhost:4200/sobrenosotros" class="btn btn-info">Conócenos</a>
    </div>
</div>
